@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

/* Base Styles */
body {
  @apply font-bodySerif m-8 md:m-12 flex flex-col gap-24;
}

h1 {
  @apply text-6xl md:text-8xl font-headlineSerif font-normal leading-tight mb-12;
}

p {
  @apply text-xl mb-8 md:mb-12 leading-relaxed md:text-2xl md:leading-relaxed;
}

p a {
  @apply underline decoration-wavy decoration-2 underline-offset-8 transition-all duration-200 ease-in-out hover:bg-green-50;
}

main {
  @apply max-w-5xl;
}
