@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

/* Base Styles */
body {
  @apply font-bodySerif m-8 md:m-12 flex flex-col gap-24;
}

h1 {
  @apply text-4xl font-headlineSerif font-normal leading-snug;
}

p {
  @apply text-xl md:text-2xl mb-12 leading-relaxed;
}

p a {
  @apply underline decoration-wavy decoration-2 underline-offset-4 hover:underline-offset-8 transition-all duration-200 ease-in-out bg-yellow-50 hover:bg-yellow-200;
}

main {
  @apply max-w-5xl;
}
