@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

/* Base Styles */
body {
  @apply font-sans bg-white text-[#101010] dark:bg-[#101010] dark:text-[#efe5d4];
}

/* Layout */
.app-container {
  @apply lg:grid md:grid-cols-3 md:gap-24 lg:max-w-6xl mx-4 lg:mx-auto my-8 lg:mt-24;
}

.sidebar {
  @apply my-24 lg:mt-0 lg:mb-8 lg:fixed lg:w-96 lg:pr-12 text-center lg:text-left;
}

.sidebar p {
  @apply mt-8 mx-8 lg:mx-0;
}

.sidebar .social-icons {
  @apply flex gap-2 my-8 w-full justify-center lg:justify-start;
}

.main-content {
  @apply col-span-2;
}

/* Typography */
h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold mb-4;
}

h3 {
  @apply text-xl font-bold;
}

p,
ul li {
  @apply text-lg font-medium;
}

a {
  @apply underline underline-offset-2 hover:underline-offset-4 transition-all;
}

/* Experience List */
.experience-list {
  @apply mt-8;
}

.experience-list li {
  @apply md:h-20 border-b border-b-gray-200 dark:border-b-gray-800 flex items-center my-2 pb-2;
}

.experience-list li.active {
  @apply relative;
}

.experience-list li.active::before {
  content: "";
  @apply inline-block h-2 w-2 bg-blue-700 rounded-full absolute -left-6 animate-blink;
}

.experience-content p {
  @apply text-gray-500 dark:text-yellow-50 md:block hidden;
}

/* Icons */
.icon {
  @apply bg-purple-50 rounded-full justify-center mr-4 h-12 w-12 flex items-center dark:invert;
}

.social-icon {
  @apply rounded-full border border-gray-200 dark:border-gray-800 hover:shadow-md dark:invert;
}

.social-icon.strava {
  @apply w-12 flex items-center justify-center;
}

/* Project Covers */
.aura-cover,
.skyteller-cover,
.braintree-cover {
  @apply overflow-hidden mx-auto w-full rounded-b-none border border-gray-200 border-b-0 flex col-span-3 rounded-2xl items-center justify-center;
}

.aura-cover {
  @apply relative bg-[#F9F8F6] h-96;
}

.skyteller-cover {
  background-image: url("/images/skyteller-background.png");
  @apply bg-contain bg-indigo-950 h-96;
}

.braintree-cover {
  background-image: url("/images/braintree-dashboard.gif");
  @apply bg-contain bg-center bg-no-repeat bg-white h-80 md:h-96;
}

/* Tag List */
.tag-list {
  @apply flex flex-wrap gap-2;
}

.tag-list li {
  @apply text-sm bg-violet-100 dark:bg-violet-200 dark:text-black rounded-md px-2 py-1;
}

/* Separator */
.separator {
  @apply bg-black dark:bg-[#efe5d4] rounded-lg block h-2 w-6 rotate-45 my-12 md:my-16 hover:-rotate-45 transition-transform;
}

/* Project Description */
.project-content {
  @apply mb-8 lg:mb-16;
}

.project-header {
  @apply mt-8 mb-4 flex items-center gap-2;
}

.project-description {
  @apply p-6 md:p-8 border border-gray-200 bg-white shadow-sm rounded-2xl rounded-t-none z-10 border-t-0 dark:bg-transparent;
}

/* Small Projects */
.small-project-content {
  @apply md:grid grid-cols-3 gap-4 text-center mt-8;
}

.small-project-item {
  @apply flex flex-col items-center my-4 border border-gray-200 rounded-2xl shadow-sm px-4 py-8;
}
